@font-face {
  font-family: "Poke";
  src: local("pokemon_game.ttf"),
    url("./fonts/pokemon_game.ttf") format("truetype");
}

@font-face {
  font-family: "PokeBis";
  src: local("Igiari.ttf"), url("./fonts/Igiari.ttf") format("truetype");
}

.Homepage {
  width: 100vw;
  height: 100vh;
  color: black;
  background-image: url("../public/title_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poke";
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepokelogo {
  width: 500px;
}

.homepokelogo:hover {
  transform: scale(1.2);
}

.hometitle {
  font-size: 25px;
}

.hometext {
  color: black;
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 25px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0 / 0, 9);
}

.hometext:hover {
  transform: scale(1.15);
  font-weight: bold;
}

.Homepage a {
  text-decoration: none;
}

.teamselect {
  height: 100vh;
  color: black;
  background-image: url("../public/title_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  flex-direction: column;
  font-family: "Poke";
  font-size: 13px;
}

.frameteamselect {
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgb(255 255 255 / 0.5);
  width: 450px;
  height: 450px;
  font-family: "Poke";
  font-size: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  overflow-y: scroll;
  padding: 10px;
  justify-content: center;
}

.frameteamselect img {
  max-width: 50px;
}

.pokelist {
  margin: 5px;
  text-align: center;
  padding: 5px;
  width: 80px;
}

.pokelist:hover {
  transform: scale(1.15);
}

.teamframe {
  margin-top: 30px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: rgb(255 255 255 / 0.5);
  width: 450px;
  height: 70px;
  font-family: "Poke";
  font-size: 4px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.teamframe img {
  max-width: 50px;
}

.teamok {
  width: 100px;
  padding: 20px;
  font-size: 14px;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  text-decoration: none;
}

.beginlink {
  text-decoration: none;
}

.beginlink:hover {
  transform: scale(1.15);
  font-weight: bold;
}

.introbattle {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/title_bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.pteamimg {
  max-width: 50px;
}

.teamframeintro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.framePoke {
  background-image: url("../src/assets/dia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: beige;
  margin: 15px;
  height: 90px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.introtextframe {
  font-family: "Poke";
  font-size: 10px;
  text-transform: capitalize;
  margin-left: 25px;
}

.framepoke img {
  width: 60px;
  max-width: 60px;
}

.gymleaders img {
  width: 170px;
}

.gymleaders img:hover {
  transform: scale(1.15);
}

.gymleadtitle {
  text-align: center;
  font-family: "Poke";
  font-size: 20px;
}

.gymleaders {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.gymleaders h1 {
  font-family: "Poke";
  font-size: 11px;
  line-height: 15px;
  margin: 10px;
}

.introtitle {
  text-align: center;
  font-family: "Poke";
  font-size: 20px;
}

.gymleadcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.brockarenaframe {
  width: 600px;
  height: 320px;
  background-image: url(../public/bg_arena_rock.jpg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px,
    rgba(0, 0, 0, 0.2) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px,
    rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.14) 0px -3px 5px;
  position: relative;
  border: 3px solid black;
  border-radius: 14px;
}

.brockpage {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, #c26e56 0%, #dfa579 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.player1pokemon {
  /* width: 12em;
  left: 12%; */
  width: 200px;
  height: 200px;
  object-fit: cover;
  bottom: -19%;
  position: absolute;
}

.battlefont {
  text-transform: uppercase;
  font-family: "Poke";
  font-size: 19px;
}

.mistypage {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mistyarenaframe {
  width: 600px;
  height: 320px;
  background-image: url(../public/bg_arena_water.jpg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px,
    rgba(0, 0, 0, 0.2) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px,
    rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.14) 0px -3px 5px;
  position: relative;
  border: 3px solid black;
  border-radius: 14px;
}

.erikapage {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #4fb576 0%,
    #44c489 30%,
    #28a9ae 46%,
    #28a2b7 59%,
    #4c7788 71%,
    #6c4f63 86%,
    #432c39 100%
  );
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.erikaarenaframe {
  width: 600px;
  height: 320px;
  background-image: url(../public/bg_arena_grass.jpg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px,
    rgba(0, 0, 0, 0.2) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px,
    rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.14) 0px -3px 5px;
  position: relative;
  border: 3px solid black;
  border-radius: 14px;
}

.surgepage {
  width: 100vw;
  height: 100vh;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #f7ab4f 0%, #f7ce68 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.surgearenaframe {
  width: 600px;
  height: 320px;
  background-image: url(../public/bg_arena_elec.jpg);
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 54px 55px,
    rgba(0, 0, 0, 0.2) 0px -12px 30px, rgba(0, 0, 0, 0.2) 0px 4px 6px,
    rgba(0, 0, 0, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.14) 0px -3px 5px;
  position: relative;
  border: 3px solid black;
  border-radius: 14px;
}

.backhome {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spacer {
  margin-bottom: 40px;
  height: 45px;
}
.backhomebtn {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 35px;
  font-family: "Poke";
  font-size: 9px;
  text-align: center;
  margin: 10px 20px;
}
